/* General Styles */
body { 
    margin: 0; 
    font-family: Arial, sans-serif; 
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

/* Navbar */
.navbar { 
    background-color: #062f6a; 
    padding: 15px; 
    color: white; 
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
}

/* Navbar Links */
.navbar a { 
    color: white; 
    text-decoration: none; 
    margin: 0 15px; 
    font-weight: bold;
    position: relative;
}

.navbar a:hover { 
    text-decoration: underline; 
}

/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Button */
.dropdown .dropbtn {
    background-color: #062f6a;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { 
    background-color: #ddd;
}

/* Show the dropdown menu when hovering over the dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Subscribe Button */
.subscribe { 
    margin-left: auto; 
    padding: 8px 15px; 
    border: 1px solid white; 
    border-radius: 5px; 
    background: transparent; 
    color: white; 
    cursor: pointer;
}

.subscribe:hover { 
    background: white; 
    color: #062f6a; 
}
